<div class="container">
  <div class="row justify-content-center">
    <h2>グループ新規作成</h2>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= render 'public/shared/error_messages', resource: @group %>
      <%= form_with model: @group, url: groups_path, method: :post, local: true do |f| %>
        <%= render 'form', f: f %>
        <div class="row  justify-content-center">
          <div class="form-group">
            <%= f.submit "グループを作成する", class: "btn btn-outline-success" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>