<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>名前</th>
      <th>紹介</th>
      <th>更新日時</th>
      <th>ステータス</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="member_delete">
    <%= render 'member_delete', members: members %>
  </tbody>
</table>