<div class="row justify-content-center">
  <div class="mx-auto mb-3">
    <%= image_tag 'admin.png', size:"150x150" %>
  </div>
</div>
<table class="table">
  <tr>
    <th>name</th>
    <td>管理者</td>
  </tr>
</table>