<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'admin/members/info' %>
    </div>
    <div class="col-9">
      <%= render 'index', members: @members %>
    </div>
  </div>
</div>
