<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 mx-auto">
      <%= render 'index', members: @members %>
      <div class="row justify-content-center">
        <%= paginate @members %>
      </div>
    </div>
  </div>
</div>
