<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'admin/members/member_info', member: @member %>
    </div>
    <%= render 'admin/menus/index', menus: @menus %>
  </div>
</div>