<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/members/info', member: @member %>
    </div>
    <div class="col-md-8 offset-1">
      <div class="row justify-content-center">
        <h4>フォロー</h4>
      </div>
      <div class="row justify-content-center">
        <% unless @members.exists? %>
          <h3>現在フォローはいません</h3>
        <% else %>
          <%= render 'public/members/index', members: @members %>
          <P><%= paginate @members %></P>
        <% end %>
      </div>
    </div>
  </div>
</div>
