<div class="container">
  <div class="row justify-content-center about-main">
    <div class="col-10 about-main">
      <div class="about-image"></div>
      <div class="about-content text-center">
        <p class="about-content-title">みんなの献立って？</p>
        <p>今日の献立が思いつかない・・</p>
        <p>
          お家に赤ちゃんや高齢者がいるけれど、<br>
          思うようにご飯を食べてもらえない・・
        </p>
        <p>
          血圧・コレステロールの値を指摘されたけれど、<br>
          どのような食事にすればよいかわからない・・
        </p>
        <p>
          そんな食事の「わからない」を、<br>
          解決に導くためのアプリです。
        </p>
        <p>
          食事投稿による食事管理だけでなく、<br>
          お悩みに近いタグで献立を検索することや、<br>
          コミュニティでは同じ悩みを持つ方々と<br>
          相談や情報共有ができます。
        </p>

      </div>
    </div>
  </div>
</div>