<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 about-main">
      <div class="container">
        <div class="row">
          <div class="col-md-6 about-image"></div>
          <div class="col-md-6 about-content text-center mt-3 mt-md-0">
            <p class="about-content-title">みんなの献立って？</p>
            <p>今日の献立が思いつかない・・</p>
            <p>
              お家に赤ちゃんや高齢者がいるけれど、<br>
              思うようにご飯を食べてもらえない・・
            </p>
            <p>
              血圧・コレステロールの値を指摘されたけれど、<br>
              どのような食事にすればよいかわからない・・
            </p>
            <p>
              みんなの献立は<br>
              そんな食事の「わからない」を、<br>
              解決に導くためのアプリです。
            </p>
            <p>
              まずは、お悩みに近いタグを検索してみましょう。<br>
              同じ悩みを持つ方々の食事内容を見ることができます。<br>
              良いと思ったら、ぜひ参考にしましょう。<br>
            </p>
            <p>
              さらに詳しく情報共有や相談がしたい！という方は、<br>
              コミュニティを見てみましょう。<br>
              コミュニティではグループを作成し、<br>
              同じ悩みを持つ方々と相談や情報共有ができます。<br>
            </p>
            <p>
              簡単にできる食事管理と、仲間たちとのつながりで<br>
              より楽しく、より心と身体に良い食事にしましょう。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>