<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-1"></div>
    <div class="col-md-10 mx-auto main-visual">
      <div class="row justify-content-center mx-auto">
        <div class="col-md-7 text-center main-visual-content">
          <p>今日の献立何にしよう・・・</p>
          <p>血圧やコレステロールに良い食事って何だろう？</p>
          <p>介護食や離乳食、みんなはどういうものを作っている？</p>
          <p>食事に関するお悩みを、みんなの献立で解決しませんか？</p>
        </div>
      </div>
      <div class="row justify-content-center">
          <%= link_to "新規登録", new_member_registration_path, class: "mb-3 sign-up-button" %>
      </div>
      <div class="row justify-content-center">
          <%= link_to "ログイン", new_member_session_path, class: "mb-3 sign-in-button" %>
      </div>
      <div class="row justify-content-center">
          <%= link_to "ゲストログイン", members_guest_sign_in_path, method: :post, class: "guest-login" %>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>