<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'public/members/info', member: current_member %>
    </div>
    <% if @search_menus %>
      <% render partial: 'index', menus: @search_menus %>
    <% else %>
      <%= render 'index', menus: @menus %>
    <% end %>
  </div>
</div>