<div class="container">
  <div class="row justify-content-around">
    <div class="col-4 mr-10">
      <%= image_tag @menu.get_menu_image(400, 450) %>
    </div>
    <div class="col-6">
      <div class="row justify-content-center">
        <%= @menu.date %>
      </div>
      <div class="row">
        <div class="col">
          <%=safe_join(@menu.body.split("\n"),tag(:br))%>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-3">
          <%= link_to "編集", edit_menu_path(@menu), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>