<div class="row members-card-box ml-md-5">
  <% members.each do |member| %>
    <% unless member.email == "guest@example.com" %>
      <div class="col-md-4 mb-3">
        <%= link_to member_path(member) do %>
          <div class="card h-100">
            <%= image_tag member.get_profile_image, class: "card-image mx-auto my-2 img-fluid" %>
            <p class="text-center"><%= member.name %></p>
            <p class="text-center mt-3">
              <% member.tags.each do |tag| %>
                <span class="badge badge-info"><%= tag.name %></span><br>
              <% end %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>




