<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', member: current_member %>
    </div>
    <div class="col-md-9">
      <div class="row justify-content-center">
        <h4>お気に入り</h4>
      </div>
      <div class="row favorite-menu-index justify-content-center">
      <%= render 'public/menus/index', menus: @favorite_menus %>
      <p><%= paginate @favorite_menus %></p>
    </div>
  </div>
</div>