<div class="container">
  <div class="row justify-content-center">
    <h2 class="mb-3">退会お手続き</h2>
  </div>
  <div class="row">
    <div class="col-8 text-center mx-auto">
      <p style="font-weight:bold;">
        退会手続きをされますと、退会後1か月で会員様の全ての情報や投稿が消去されます。<br>
        再度ご利用いただく場合や、誤って退会された場合は、新規登録のお手続きが必要となります。<br>
        本当に退会してよろしいですか？
      </p>
      <p>
        退会後1か月以内であれば、データ復元が可能です。<br>
        新規登録のアカウントから画面下部の"お問い合わせ"を利用し<br>
        「退会された名前・メールアドレス・パスワード・データ復元の理由」を<br>
        管理者へお申し付けください。
      </p>
      <div class="row justify-content-around">
        <div class="col-3">
          <%= link_to "退会する", member_out_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
        </div>
        <div class="col-3">
          <%= link_to "退会しない", member_path(@member), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>