/*トップ画面*/
.main-visual {
    background-image: url('../images/main-visual.png');
    background-size: cover;
    background-position: center;
    width: 900px;
    height: 600px;
}

.main-visual-content {
  background-color: rgba(255, 255, 255, 0.4);
  margin: 50px auto;
}


/*アバウトページ*/
.about-main {
  position: relative;

}

.about-image {
  background-image: url('../images/food.2.jpg');
  position: absolute;
  top: 20px;
  left: 30px;
  width: 427px;
  height: 640px;
}

.about-content {
  position: absolute;
  top: 250px;
  left: 440px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
}

/*会員詳細 サイドバー お気に入り一覧*/
.favorite-index {
  display: inline-block;
  text-align: center;
  color: #db7093;
  font-size: 20px;
  text-decoration: none;
}

.favorite-index:hover {
  color:#dbafbe;
  transition: .5s;
}

.btn-favorite-index {
  border-radius: 10px;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  font-size: 25px;
  line-height: 35px;
  color: #FFF;
  background: #db7093;
}

.btn-favorite-index i {
  line-height: 50px;
}

/*グループ詳細画面*/
.group-member-index {
  margin-top: 20px;
}

/*グループチャット画面*/
.group-chat-box {
  display: flex;
  margin-bottom: 20px;
}
.group-chat-content-owner {
  width: 30%;
  background-color: #f5ecf4;
  border-radius: 5%;
  padding: 0 5px;
}

.group-chat-content-others {
  width: 30%;
  background-color: #ebf4f5;
  border-radius: 5%;
  padding: 0 5px;
}

.group-chat-icon {
  border-radius: 50%;
}

.group-chat-icon-owner {
  width: 20%;
}

.group-chat-icon-others {
  width: 20%;
}

.group-chat-form {
  padding: 20px 40px 0px 40px;
  border: dashed 5px #d3d6dd;
}

.menus-item {
  display: flex;
}