* {
  font-family: 'Noto Sans JP', sans-serif;
}

th, td {
  text-align: center;
}

.pagination {
  justify-content: center;
}


/*フラッシュメッセージ*/
.flash {
  width: 100%;
  height: 30px;
  z-index: 1;
}

#notice {
  background-color: #bbdbf3;
}

#alert {
  background-color: #f2efbb;
}

.field_with_errors {
  display: contents;
}
/*ヘッダー・フッター*/
.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  border-bottom: solid 2px #6c9bd2;
}

main {
  padding-bottom: 15px;
  flex: 1;
}

footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  border-top: solid 2px #6c9bd2;
  line-height: 3;
}

.header_btn {
  color: #524e4d;
  font-size: 18px;
}
.header_btn:hover {
  color: #524e4d;
  font-size: 18px;
  font-weight: bold
}

/*トップ画面*/
.main-visual {
    background-image: image-url("main-visual.png");
    background-size: cover;
    background-position: center;
    width: 900px;
    height: 600px;
}

.main-visual-content {
  background-color: rgba(255, 255, 255, 0.4);
  margin: 50px auto;
  color: #524e4d;
}

.sign-up-button {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #19448e;
}

.sign-up-button:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#19448e;
  transition: .2s;
}

.sign-up-button:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.sign-up-button:hover {
  text-decoration: none;
}

.sign-in-button {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #19448e;
}

.sign-in-button:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#19448e;
  transition: .2s;
}

.sign-in-button:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.sign-in-button:hover {
  text-decoration: none;
}

.guest-login {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #19448e;
}

.guest-login:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#19448e;
  transition: .2s;
}

.guest-login:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.guest-login:hover {
  text-decoration: none;
}

/*アバウトページ*/
.about-main {
  margin-left: 50px;
}

.about-image {
  background-image: image-url("food.2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.about-content {
  position: relative;
  top: 50px;
  left: -30px;
  background-color: rgba(137, 195, 235, 0.3);
  margin-bottom: 50px;
}

.about-content-title {
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 767.98px) {
  .about-main {
    margin-left: 0;
  }
  .about-content {
    position: static;
    top: 0;
    left: 0;
    background-color: rgba(137, 195, 235, 0.3);
    margin-bottom: 0;
  }
}


/*タブメニュー*/
.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}

.tab:first-child {
  border-left: none;
}

.tab-active {
  color: #FFF;
  font-weight: bold;
  font-size: large;
  background: #4682b4;
  transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5px;
  justify-content: center;
}

/*献立新規入力画面*/
.time_zone_button {
  display: flex;
}

.form-check {
  padding-left: 40%;
}

/*献立詳細*/
.menu-content-box {
  position: relative;
  background-color: #eaf4fc;
  border-radius: 10%;
  padding: 10px;
}

.menu-comment-content {
  position: relative;
  background-color: #fcfceb;
  border-radius: 10%;
}

.menu-comment-delete {
  position: absolute;
  right: 18px;
  bottom: 12px;
}

.menu-edit {
  position: absolute;
  right: 18px;
  bottom: 12px;

}

/*献立一覧・新規作成ボタン*/
#new {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.new-btn {
  box-shadow: 5px 5px 8px rgb(0, 0, 0, 0.3);
  border-radius: 50%;
}

.new-btn:hover {
  box-shadow: 5px 5px 8px rgb(0, 0, 0, 0.6);
  border-radius: 50%;
}

/*タグ絞り込み・検索*/
.search-tag {
  margin: 10px 0;
}

.info-icon-box {
  position: relative;
}

.search-window {
  margin: 10px 0;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
}

/*お気に入り一覧*/
.favorite-index {
  color: #dbafbe;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.favorite-index:hover {
  color: #db7093;
}

.favorite-menu-index {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}


/*グループ詳細画面*/
.group-member-index {
  margin-top: 20px;
}

/*グループチャット画面*/
.group-chat-box {
  display: flex;
  margin-bottom: 20px;
}
.group-chat-content-owner {
  width: 30%;
  background-color: #f5ecf4;
  border-radius: 5%;
  padding: 0 5px;
}

.group-chat-content-others {
  width: 30%;
  background-color: #ebf4f5;
  border-radius: 5%;
  padding: 0 5px;
}

.group-chat-icon {
  border-radius: 50%;
}

.group-chat-icon-owner {
  width: 20%;
}

.group-chat-icon-others {
  width: 20%;
}

.group-chat-form {
  padding: 20px 40px 0px 40px;
  border: dashed 5px #d3d6dd;
}

/*会員一覧*/
.card {
 border: 4px solid rgba(108, 155, 210, 0.2);
}

.link-card:hover {
  text-decoration: none;
}

.members-card-box {
  display: flex;
  flex-wrap: wrap;
}

.card-image {
  background-size: cover;
  width: 150px;
  height:150px;
}

.card-member-name {
font-size: 20px;
font-weight: bold;
text-decoration: none;
color: #2a4073;
}
