/*トップ画面*/
.main-visual {
    background-image: url('../images/main-visual.png');
    background-size: cover;
    background-position: center;
    width: 900px;
    height: 600px;
}

.main-visual-content {
  background-color: rgba(255, 255, 255, 0.4);
  margin: 50px auto;
}


/*アバウトページ*/
.about-main {
  position: relative;

}

.about-image {
  background-image: url('../images/food.2.jpg');
  position: absolute;
  top: 20px;
  left: 30px;
}

.about-content {
  position: absolute;
  top: 250px;
  left: 440px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
}


.group-member-index {
  margin-top: 20px;
}